fastapi
uvicorn[standard]
pydantic-settings
sqlalchemy[asyncio]
asyncpg
alembic
psycopg2-binary
passlib[bcrypt]
python-jose[cryptography] 
pydantic[email]
pytest-asyncio
httpx
redis==5.3.0
numpy
openai
python-dotenv
langchain
langchain-openai

# scrap_mcp dependencies
aiohttp
beautifulsoup4
httpx
lxml
lxml[html_clean]
lxml_html_clean
mcp[cli]
playwright
pytest-playwright
requests
tf-playwright-stealth
trafilatura