fastapi
uvicorn[standard]
pydantic-settings
sqlalchemy[asyncio]
asyncpg
alembic
psycopg2-binary
passlib[bcrypt]
python-jose[cryptography] 
pydantic[email]
pytest-asyncio
httpx
redis==5.3.0
numpy
openai
python-dotenv
langchain
langchain-openai